body  { background-color: #202; margin: 0px; }
div   { overflow: auto; }

h1    { color: #fff; font-size: 2lh; }
h2    { color: #fff; font-size: 1.6lh; }
h3    { color: #fff; font-size: 1.3lh; }
p     { color: #fff; font-size: 1lh; }
li    { color: #fff; font-size: 1lh; margin-bottom: .5lh; }
label { color: #fff; font-size: 1lh; }
a     { color: #5af; text-decoration: underline; cursor: pointer; }

#main-div {
    max-width: 1000px;
    width: calc(100% - 60px);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #222;
    border-radius: 20px;
    border: 3px solid #555;
    word-wrap: break-word;
}

textarea {
    resize: vertical;
    min-height: 10lh;
    background-color: #202;
    color: #fff;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #555;
    padding: 5px;
    font-size: 1lh;
}

.output-message {
    overflow-x: hidden;
    background-color: black;
    color: #0c0;
    max-width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #555;
    padding: 5px;
}


.slider {
    -webkit-appearance: none;
    width: calc(100% - 20px);
    height: 1lh;
    border-radius: .5lh;
    background: #000;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 1lh;
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #555;
    width: 2lh;
    height: 2lh;
    border-radius: 1lh;
    border: 1px solid #aaa;
    cursor: pointer;
}
::-webkit-resizer {
    background: #555;
}
